@font-face {
  font-family: "UbuntuBold";
  src: url("https://font.visma.com/fonts/ubuntu/ubuntu-bold.woff2")
      format("woff2"),
    url("https://font.visma.com/fonts/ubuntu/ubuntu-bold.woff") format("woff"),
    url("https://font.visma.com/fonts/ubuntu/Ubuntu-Bold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("https://font.visma.com/Fonts/OpenSans/OpenSans-regular.woff2")
      format("woff2"),
    url("https://font.visma.com/Fonts/OpenSans/OpenSans-regular.woff")
      format("woff"),
    url("https://font.visma.com/Fonts/OpenSans/OpenSans-Regular.ttf")
      format("truetype");
  font-display: swap;
}
:root {
  --h1: 3.2rem;
  --p: 1.8rem;
  --align: center;
  --padding: 4.8rem 3.2rem 6.4rem 3.2rem;
  --margin: 5rem 1.8rem;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  background-color: #B9B9B9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
 align-items: center;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}
.page-container {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  max-width: 150rem;
  margin: var(--margin);
  padding: var(--padding);
 align-items: center;
  background-color: #fff;
}
.text-content {
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  font-size: var(--p);
  line-height: 1.5;
  color: #000000;
  max-width: 70ch;
  text-align: var(--align);
}

.text-content > * {
  margin-top: 0;
  margin-bottom: 3.2rem;
}
h1 {
  font-family: "UbuntuBold", Tahoma, Arial, Helvetica, sans-serif;
  font-size: var(--h1);
  line-height: 1.2;
  color: #222222;
}
img {
  max-width: 40rem;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 600px) {
  :root {
    --h1: 4.8rem;
    --align: left;
    --padding: 6.4rem;
    --margin: 7.4rem 3.6rem;
  }
}
@media screen and (min-width: 1400px) {
  :root {
    --h1: 6.4rem;
    --p: 2rem;
    --padding: 12.8rem;
    --margin: 10rem 5vw;
  }

  .page-container {
    flex-direction: row;
    justify-content: center;
  }
  .text-content {
    margin-right: 10rem;
  }
  .text-content > *:last-child {
    margin-bottom: 0;
  }
  img {
    max-width: 50rem;
  }
}